# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Testing
.tox/
.nox/
.coverage

# Distribution
build/
dist/
*.egg-info/

# Model
**/model/
